@media (min-width: 1200px) {
	.nav {
		&__item {
			font-size: 2rem;
		}
	}

	.header {
		&__heading {
			font-size: 2.5rem;
		}

		&__info {
			font-weight: bold;
			font-size: 4rem;
		}
	}


	.aboutus {
	

		&__box-img {
			width: 50%;
		}

		&__box-text {
			width: 40%;
		}

		&__title {
			margin-bottom: 0.5em;
			font-size: 2.6rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.info {
   
    
   
    
        &__heading {
            font-size: 3.5rem;
            padding: 1em 7em;
    
            border: 1px solid white;
        }
    
    }

	.offert {
		&__card {
			height: 45vh;
            width: 30vw;
			padding: 0.5em;
			margin-top: 2em;
			margin-left: 1em;
			width: 45%;
			font-size: 1.5rem;
		}

		&__card-title {
			font-size: 3.2rem;
		}

		&__card-price {
			font-size: 6rem;
		}
		
		&__option {
			padding: 0.3em;
		}

		&__card-btn {
            
			margin-top: 2em;
		}

	

        
	}


}
